.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Ensures that the content spans the entire width */
}

.tekst {
    display: flex;
    justify-content: space-between; /* Ensures text and images are on opposite sides */
    width: 100%;
}

.txt {
    text-align: right;
    margin-left: auto; /* Moves the text to the far right */
}

.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
